@charset "utf-8";
table{
    border-collapse:collapse;
}

th {
    background: #608c53;
    color: #fff;
    padding: 5px;
    border :1px solid #ddd;
    font-weight:normal;
    text-align:left;
}
td {
    padding: 5px;
    border :1px solid #ddd;
}

td:nth-child(n+3){
    text-align:right;
}
@media screen and (max-width: 640px) {
    .tbl-r05 {
        width: 100%;
    }
    .tbl-r05 tr {
        width: 100%;
    }
    .tbl-r05 th {
        display:none;
    }
    .tbl-r05 td {
        display: block;
        text-align: right;
        width: 100%;
    }
    .tbl-r05 td:nth-child(2) {
        background: #608c53;
        color: #fff;
        font-weight:normal;
        text-align:left;
    }

    .tbl-r05 td:nth-child(2):before {
        display:none;
    }
    .tbl-r05 td:first-child{
        display:none;
    }
    .tbl-r05 td:last-child{
        margin-bottom:20px;
    }
    .tbl-r05 td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        margin-right: 10px;
        font-weight:normal;
        text-align:left;
    }
}
